@import "reset";

@import "fonts"; 

html {
	font-size: 16px;
	font-family: Raleway, sans-serif;
}
ul,
body{
	margin: 0;
	padding: 0;
}
.flex-container{
	display: flex;
}

/*top menu*/
.top-menu {
	background-color: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	// padding-bottom: 10px;
	position: fixed;
	top:0px;
	width: 100vw;
	z-index: 9999;
	height: 70px;
}
.nav {
	display: flex;
	list-style: none;
}
 .top-menu li a {
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-size: 1rem;
	letter-spacing: 0.4px;
    font-weight: 700;
    line-height: 30px;
    height: 30px;
    padding: 15px 30px;
    margin: 30px 0px;   
}
.top-menu li a:hover {
	color: #0d944f;
}

.menugrey {
	background-color:#f8f8f8; 
	color:#373a38 !important; 
}
.current-menu-item{
	color: #0d944f !important;
}
.menugrey li a:hover {
	color: #0d944f !important;
}
.burger{
	display: none;
}
.burger i{
	color: white;
	font-size: 1.3rem;
}



/* ############### Burger Icon animation START ################ */
#nav-icon3 {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span{
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #0d944f;
  border-radius: 6px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 14px;
}

#nav-icon3 span:nth-child(4) {
  top: 28px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* ############### Burger Icon animation END ################ */

/*top menu end*/

/*HERO start*/
.hero .container {
	display: flex;
	max-width: 50%;
	margin: 0 auto;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	position: relative;
}
.hero {
	min-height: 100vh;
	// background:linear-gradient(0deg,rgba(0,0,0,0.5),
	// 	rgba(0,0,0,0.5));
	// background-size: cover;
	// background-position: center;
	padding: 0;
	text-align: center;
	position:relative;
}

.hero-content {
	width: auto;
	margin: 0 auto;
	text-align: center;
	border: 8px solid white;
	padding: 20px 60px;
}
.hero-content h2 {
	color: #0d944f;
	text-transform: uppercase;
	font-size: 1.25rem;
	padding: 0;
	margin: 0;
	font-weight: 900;
	line-height: 30px;
}
.hero-content h1 {
	font-weight: 300;
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    margin: 0;
    color: white;  
}

.hero-content img {
	width: 65%;
}


.hero-content p {
	color: #0d944f;
	font-size: 1.875rem;
	width: 100%;
}
.container a{
	position: absolute;
	bottom: 10px;
	font-size: 2rem;
	color: white;
}
.bounce {	/* rodykles sokinejimas*/
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
/* HERO pabaiga */
.about-us {
	background: white;
	background-size: cover;
	background-position: center;
	padding: 0;
	text-align: center;
}
.about-us-container{
	width: 60%; 
	margin: 0 auto;
	padding-bottom: 80px; 
}
.heading h2{
	font-size: 2.5rem;
	letter-spacing: -1px;
	font-weight: 900;
	color: #454545;
	margin:0;
	text-transform: uppercase;
}
.heading h2 span {
	font-family: 'Clicker Script', cursive;
	font-weight: 400;
	color: #0d9a50;
	text-transform: lowercase;
}

.heading {
	padding:140px 0 5% 0;
	text-align: center;
}


.heading p {
    font-weight: 400;
    padding: 0 20px;
    margin: 0 auto;
    text-align: center;
    color: #646464;
    border-bottom: 1px solid #0d9a50;
    line-height: 0.1rem;
    display: inline-block;
}
.heading  p span {
	background-color: #fff;
    padding: 0 10px;
	font-size: 0.875rem;
	color: #65645f;
}
.about-us-container .she-he {
	width: 100%;
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
.she-he .about-column{
	width: 45%;
	
}
.about-pic {
	position: relative;
	padding:0px;
	margin:0px;
	margin:auto;
	text-align:center;
}

.inner-round-border {
		border-radius:80%;
	-moz-border-radius:80%;
	-webkit-border-radius:80%;
	-khtml-border-radius:80%;
	overflow:hidden;
}

.about-pic img {
	width:100%;
	transition: 0.5s;
	-webkit-transition: -webkit-transform 0.5s;
}
.inner-round-border img:hover{
	transform: scale(1.2);
}

.pic-frame {

	position: absolute;
	margin: 0 auto;
	left: 0;
    bottom: -4%;
    z-index: 999;
}

.socials {
	display: flex;
	justify-content: center;
}
.socials a{
	text-decoration: none;
}

.icon-container{
	display: flex;
    justify-content: center;
    align-items: center;
	border: 1px solid #f7f7f7;
	background-color: #f7f7f7;
	padding: 5px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	-o-transition: all 0.3s;
    margin: 0 2px;
    cursor: pointer;
}
.icon-container:hover{
	background-color: white;

}
.icon-container i{
	color: #a9a9a9;
	font-size: 2rem;
}
.about-column h3 {
	margin: 0;
	padding: 10% 0 4% 0;;
	font-size: 1.125rem;
	font-weight: 900;
	color: #454545;
}
.about-column p {
	color: #65645f;
	margin: 0;
	padding-bottom: 5%;
}
/* about us section END */

/*Timer section START */
.timer-container {
	padding: 0;
	display: flex;
	justify-content:center;
	text-transform: uppercase;
}
.timer-column{
	width: 28%;
	// padding: 0;
}
.timer-container h2 {
	text-align: center;
	color: #92b476;
	font-size: 1.75rem;
	padding: 0 0 40px 0;
	font-weight: 700;
}
.timer-container h3 {
	
	color: #0d9a50;
	font-size: 5rem;
	font-weight: 300;
	margin: 20px 0 0;
}
.timer-container p{
	color: #0d9a50;
}
.timer-container img{
	width: 100%;

}


/*Timer section END */

/*Info section START */
.info-container {
	padding: 80px 0;
	width: 75%; 
	margin: 0 auto; 
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-between;
}
.info-column {
	width: 28%;
	margin:0;
}

.info-column h3 {
	text-transform: uppercase;
	font-size: 1.25rem;
	color: #454545;
	font-weight: 700;
}
.info-column p {
	color: #65645f;
	font-size: 0.875rem;
}
.info-column img {
	width: 50px;
    display: block;
    margin: auto;
}

/* #########Info section END */

/* ##########Galerijos section START */

.memories-container {
	// width: 100vw;
	margin: 0 auto;
}
.memories-container .heading p span{
	background-color: #f6f6f4;
}

.gallery-container {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
.gallery-pic-container {
	width: 25%;
	position: relative;
	background: rgba(0, 0, 0, 1);	
}

.gallery-pic-container:hover{
	background: none;

}
.gallery-pic-container img{
	width: 100%;
	display: block;
	opacity: 0.5;
}
.img-opc{
	opacity: 1 !important;
}
.gallery-pic-container img:hover{
	opacity: 1;
}

.gallery-pic-container h3{
	position: absolute;
	top:12%;
	left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.125rem;
    color: #fff;
    letter-spacing: -0.5px;
    text-transform: capitalize;
    font-weight: 300;  
}

.gallery-pic-container h3 span {
	font-weight: 800;
    color: #0d9a50;
}

/* ##########Galerijos section END */
/* ##########Carousel section START */

.carousel-section {
	background-color: #f6f6f4;
	
}
.carousel-section .section-centered .heading p span{
	background-color: white;
}
.section-centered {
	width: 70%; 
	margin: 0 auto; 
	text-align: center;
	padding-bottom: 100px;
}
.section-centered .heading p span{
	background-color: #f6f6f4;
}

.carousel-column h3{
	font-size: 0.9375rem;
    letter-spacing: 0.5px;
    font-weight: 800;
    color: #454545;
    margin: 20px 0 6px 0;
    text-transform: uppercase;
}

.carousel-column p{

	color: #0d9a50;
	font-size: 0.8125rem;
    font-weight: 300;
    margin: 7px 0 13px 0;
}
/* ##########Carousel section END */
/* ##########Location section START */

#location .section-centered .heading p span{
	background-color: #f6f6f4;
}
.maps-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.map-column {
	width: 48%;
	text-transform: capitalize;
	font-size: 1.25rem;
    color: #454545;
    font-weight: 700;
    
}
.map-column i{
	font-size: 3.125rem;
	margin: 0 auto;
    padding: 0 0 20px;
    color: #0d9a50;
}
.map-column img{
	width: 50px;
    display: block;
    margin: 0 auto;
    padding: 0 0 20px;
    }

.map {
	width:100%;
	height: 300px;
	-webkit-box-shadow: 10px 10px 28px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 28px -6px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 28px -6px rgba(0,0,0,0.75);	
}
.location-icon i{
	color: #0d9a50;
	font-size: 2rem;
}
/* ##########Location section END */
/* ########## RSVP section START */

#rsvp .heading h2{
	padding: 0 0 40px; 
}

#rsvp .section-centered div ul li{
	list-style: none;
}
.rsvp-link a,
#rsvp .section-centered div ul li a{
	text-decoration: none;
}
.rsvp-link{
	padding: 0 0 60px;
	width: 100%;
}
.rsvp-link button{
	background: none;
	padding: 15px 50px;
	border: 2px #0d9a50 solid;
	color: #0d9a50;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}
.rsvp-link button:hover{
	background-color:#0d9a50;
	color: white; 
	cursor: pointer;
}

.social-links {
	width: 100%;	 
}
.footer-links ul,
.social-links ul {
	display: flex;
	// flex-wrap:wrap;
	justify-content: center;
} 
.social-links ul li {
	padding: 0 20px;
	// width: 100%;
}
.social-links ul li a{
	color: #565656;
	font-size: 0.9375rem;
	font-weight: 800;
	text-transform: uppercase;
}
.social-links ul li a:hover{
	color: #909090;
}

.footer-links{
	padding: 40px 0 0;
}
.footer-links ul li {
	padding: 0 10px;
}
.footer-links ul li a{
	color: #0d9a50;
	font-weight: 400;
	font-size: 0.75rem;
}
.footer-links ul li a:hover{
	color: #65645f;
}
.rsvp-form {
	display: none;
	border: 5px solid #f6f6f4;
	padding: 30px;
    margin: 0 0 30px;
}
.rsvp-form-show {
	display: block;

}
form h3{
	font-weight: 800;
    font-size: 1.25rem;
    color: #0d9a50;
    position: relative;
    padding-bottom: 40px;
}
form h3:after{
	content: ' ';
	background: #000;
    position: absolute;
    display: block;
    width: 5%;
    margin: 10px 47.5%;
    border: 1px solid #000;
}
.select-form-container,
.checkbox-container{
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
}

.checkbox-column label{
	color:#65645f;
	font-size: 0.875rem;
}
.checkbox-column label span{
	color: #0d9a50;
}
.checkbox-column{
	width: 30%;
	padding-bottom: 15px;
}
.guest-info-container,
.select-form-container{
	padding: 0 0 20px;
}
.select-column{
	width: 30%;
	text-align: left;
}
.textarea-container{
	text-align: left;
}

.textarea-container label,
.select-column label{
	color: #65645f;
	font-size: 0.875rem;
	text-transform: uppercase;
	font-weight: 800;
	// padding: 0 0 15px 0;
}
.select-container{
	padding: 10px 0 0;
}
.form-select{
	width: 100%;
	border: none;
	height: 30px;
	border-bottom: 1px #e7e6e6 solid;
	// padding: 15px 0;
}

textarea{
	width: 97%;
	// border: none;
	border: 1px #e7e6e6 solid;
	margin-top: 10px;
}

input.form_submit_contact{
	background: none;
	padding: 15px 50px;
	border: 2px #0d9a50 solid;
	color: #0d9a50;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}
input.form_submit_contact:hover{
	background-color: #0d9a50;
	color: white;
}
/* ########## RSVP section END */

/* skirtinga backgorund spalva kas antrai sekcijai*/
section:nth-child(even){
	background-color: #f6f6f4;
}
section:nth-child(odd){
	background-color: white;
}

/* ########## Apear on scroll ######## */
.hideme{
    opacity:0;
}

/* ########## Responsive ######## */
@media all and (max-width: 750px){
	//menu bar

	.top-menu{
		background-color:#f8f8f8;
		justify-content: flex-start;
		height: auto;
		align-items: flex-start;
		width: auto;
		padding: 0;
		width: 100%;
	}
	.top-menu ul{
		width: 100%;
	}
	.top-menu li{
		background-color: white;
		border-bottom: 1px #f6f6f6 solid;
		padding: 15px

	}
	.top-menu li a{
		padding: 10px 25px;
		color: #454545;
		font-size: 1rem;
		background-color: white;
		font-weight: 700;
		letter-spacing: 0.4px;

	}

	.nav{
		display: none;
		flex-wrap: wrap;
	}

	.nav.show{
		display: block;
		// height: 100vh;
	}
	.menu-item{
		width: 100%;
		
	}
	.burger{
		display: block;
		padding: 15px 15px 15px 15px;
	}
	// Hero content
	.hero-content{
		width: auto;
	}
	.hero-content h1{
		font-size: 3rem;
	}
	.hero-content h2 {
		font-size: 1rem;
	}
	.hero-content p {
		font-size: 1.2rem;
	}
	// ABOUT US section
	.heading p {
		font-size: 0.75rem;
		border-bottom: none;
		padding: 0;
		line-height: normal;
	}	
	// Timer section
	.timer-container h3 {	
	font-size: 4rem;
	}
	// INFO section
	.info-column{
		width: 100%;
	}
	// LOCATION section
	#location .section-centered{
		width: 85%
	}
	.map-column{
		width: 100%;
		height: auto;
	}
		// RSVP section

	.social-links ul{
		flex-wrap:wrap;
	}
	.social-links ul li{
		width: 100%;
		padding: 10px 0 0;
	}
	.checkbox-column{
		width: 100%;
	}

}
@media all and (max-width: 600px){
	// hero content
	.hero-content h1{
		font-size: 2rem;
	}

	// about us section
	.about-us-container{
		width: 85%;
	}
	.heading {
		padding: 70px 0 5% 0;
	}
	.heading h2{
		font-size: 2rem;
	}
	.she-he .about-column {
    	width: 100%;
	}
	.socials {
		padding: 0 0 40px;
	}
	// Timer section
	.timer-container p{
		font-size: 0.875rem;
	}
	.timer-container h3 {	
	font-size: 2.5rem;
	}
	//info column
	.info-column{
		margin: 0;
	}
	// Gallery section
	.gallery-pic-container{
		width: 100%;
	}
	// RSVP
	.select-column{
		width: 100%;
		padding: 0 0 30px;
	}
	input.form_submit_contact{
		padding: 10px 40px;
	}


}
